/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jua&display=swap');

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경색과 텍스트 색상 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* 네비게이션 바 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* 언어 선택 드롭다운 */
#languageSelect {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#languageSelect option {
    background-color: #333;
    color: #fff;
}

/* 히어로 섹션 스타일 */
.hero {
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #c4070d;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}
